<div class="form">
        <div >
          <form >
            <div >
                <mat-label style="display: flex; flex-direction: column;">Email:</mat-label>
              <input type="text" name="email" class="form-control" placeholder="Email">
            </div>
            <div>
              <label  style="display: flex; flex-direction: column;">Password : </label>
              <input type="password" name="password" class="form-control" placeholder="********" >
              <div class="text-right forget-pass">
                <a routerLink="/forget-password">Forget Password ?</a>
              </div>
            </div>
            <div>
              <input type="submit" class="btn btn-my" value="Login">
            </div>
          </form>
          <div >
            Don`t have an account ? <a routerLink="/signup">Sign Up</a> hera.
          </div>
          
          
        </div>
    </div>
    