<div class="row">
    <div>
      <div>
        <div>
          <form>
              <div>
                <label for="name">Name : </label>
                <input type="text" name="name" class="form-control" placeholder="Name">
              </div>
              <div>
                <label for="phone">Phone : </label>
                <input type="text" name="phone" class="form-control" placeholder="Phone">
              </div>
              <div>
                <label for="email">Email : </label>
                <input type="text" name="email" class="form-control" placeholder="Email">
              </div>
              <div>
                <label for="password">Password : </label>
                <input type="password" name="password" class="form-control" placeholder="********">
              </div>
              <div>
                <label for="c_password">Confirm Password : </label>
                <input type="password" name="c_password" class="form-control" placeholder="********" >
              </div>
              <div>
                <input type="submit" class="btn btn-my" value="Sign Up">
              </div>
              <div>
                Already have an account ? <a routerLink="/login">Login</a> hera.
              </div>
              
          </form>
        </div>
      </div>
    </div>
  </div>